#principal{
    display : flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 450px;
}

#box-1
{
    width: 5%;
}

#box-2
{

    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items:center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(88, 88, 88);
}
#box-3
{
    width: 5%;
}

#miboton{
    width: 50%;
    background-color: #811C30;
    align-self: center;
    border-radius: 15px;
    color: white;
}


#imagen
{
    width: 50%;
}

#formulario
{
    align-self: center;
    
    width: 50%;
    display: flex;
    flex-direction: column;

}

#logo
{
    align-self: center;
}

#input1
{
    align-self: center;
    height: 20%;
    width: 70%;
}

#input2
{
    align-self: center;
    height: 20%;  
    width: 70%;
}

#floatingInput
{
    border-radius: 15px;
    border-color: #811C30;
    outline: none;
}