<div id="principal">

<div id="box-1"></div>
<div id="box-2">



<div id="imagen">
<img src="../../assets/undraw_Login_re_4vu2.svg" width="100%" height="100%">
</div>

<div id="formulario">
   <div id="logo">
       <img src="../../assets/utt.png"  width="100%" height="85%">
   </div>
   <br><br>
   <div id="input1">
    <div class="form-floating">
        <input type="email" class="form-control put" id="floatingInput"  placeholder="Escribe el correo electronico" required autofocus pattern="\d{3}">
        <label for="floatingInput"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
          </svg> Correo</label>
      </div>
   </div> 
   <br><br>
   <div id="input2">
    <label>Contraseña</label>
    <input type="password" id="">
   </div>
   <div id="boton"></div>

    </div>
    


</div>
<div id="box-3"></div>

</div>