/* You can add global styles to this file, and also import other style files */
.navbar
{
    background-color:   #811C30;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   
}

.contenedor
{
    margin-top: 7rem;
}