<div class="container">
<div id="box-1">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div id="box-2">

    <div id="izquierda">
<div id="opcion" (click)="almacen()">
        <img src="../../assets/inventory.svg"  width="50%" height="20%">
        <h1>Almacen</h1>
    </div>
    </div>
    <div id="derecha">
        <div id="opcion">
        <img src="../../assets/reportes.svg"  width="50%" height="20%">
        <br>
        <br>
        <br>
        
        <h1>Reportes</h1>
    </div>
    </div>
</div>
    
</div>
